{% extends 'exiftool/base.html' %} {% load static %} {% block content %} `
<form action="{% url 'handler' %}" class="dropzone" id="upload-form">
  <!-- this is were the previews should be shown. -->
  <div class="previews" />
  <!-- Now setup your input fields -->
  <div class="form-group">
    <input type="file" name="excel" value="excel" />
  </div>
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %} {% block postscripts %}
<script>
  Dropzone.options.uploadForm = {
    // camelized version of the `id`
    autoProcessQueue: false,
    uploadMultiple: true,
    parallelUploads: 100,
    maxFiles: 300,
    paramName: "file", // The name that will be used to transfer the file
    // The setting up of the dropzone
    init: function () {
      var myDropzone = this;

      // First change the button to actually tell Dropzone to process the queue.
      this.element
        .querySelector("button[type=submit]")
        .addEventListener("click", function (e) {
          // Make sure that the form isn't actually being sent.
          e.preventDefault();
          e.stopPropagation();
          myDropzone.processQueue();
        });

      // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
      // of the sending event because uploadMultiple is set to true.
      this.on("sendingmultiple", function () {
        // Gets triggered when the form is actually being sent.
        // Hide the success button or the complete form.
      });
      this.on("successmultiple", function (files, response) {
        // Gets triggered when the files have successfully been sent.
        // Redirect user or notify of success.

        window.location.replace("/batch/" + response.data.uuid);
      });
      this.on("errormultiple", function (files, response) {
        // Gets triggered when there was an error sending the files.
        // Maybe show form again, and notify user of error
      });
    },
  };
</script>
{% endblock postscripts %}
